header {
	text-align: center;
	background-color: black;
	color: white;
}

.hogwarts {
	height: 250px;
}

body {
	background-color: black;
}


.container {
	display: flex;
	flex-direction: column;
	background-color: blue;
	align-items: center;
	justify-content: center;
	width: 2000px;
	height: 1000px;
}

.gameboard {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: red;
	width: 1200px;
	height: 900px;
	align-self: center;

}

.column1 {
	display: flex;
	flex-direction: column;
	background-color: orange;
	flex-direction: column;
	width: 200px;
	height: 800px;
}

.circle {
	background-color: teal;
	border-radius: 50%;
	height: 5px;
	width: 5px;
	align-items: center;

}

.square {
	background-color: black;
	border: 1px solid grey;
	height: 5px;
	width: 5px;
	flex-direction: column;

}

footer {
	display: inline-block;
	height: 75px;
}

.deathlyhallows  {
	display: inline-block;
	height: 70px;
	width: 70px;
}
