header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	align-items:center;
	background-color: black;
	color: rgb(251,227,185);
}

.hogwarts {
	height: 200px;
	width: 180px;
}

#modal {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: url(https://images.pottermore.com/bxd3o8b291gf/3hollgS5QIcaUmoAWMsMEC/0ab7c45e0842488acdce82a76f6a7123/Hogwarts_PM_B4C37M1_GreatHallMourningCedricsDeath_Moment.jpg?w=1200);
	background-color: rgb(18, 17, 18);
	position: fixed;
	top: 71%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 60%;
	width: 82%;
	z-index: 1;
	overflow: auto;
	display: none;
	border-radius: 8px;
	border: 1px solid;
	border-color: rgb(251,227,185);
}

#modal-textbox {
	color: rgb(251,227,185);
	height: 340px;
	width: 530px;
	margin: 100px;
	margin-left: 25px;
	box-shadow: 0 1px 1px;
	top: 60%;
 	background-color: rgba(5, 4, 2, 0.7);
	align-self: center;
	justify-content: center;
	text-align: center;
	border-radius: 8px;
}

#openModal {
	background-color: rgb(72, 0, 0);
	color: gold;
	font-family: 'IM Fell English SC', serif;
	font-size: 18px;
	border-radius: 5px;
	border-color: rgb(251,227,185);
}

.welcome {
	text-align: center;
	font-family: 'IM Fell English SC', serif;
	color: rgb(198,170,103);
	font-size: 30px;
}

.fourhouses {
	text-align: center;
	color: rgb(251,227,185);
}

.professor {
	text-align: center;
	font-family: 'IM Fell English SC', serif;
	color: rgb(198,170,103);
	font-size: 15px;
}

h1 {
	font-family: 'IM Fell English SC', serif;
	color: rgb(198,170,103);
	font-size: 60px;
	margin: 0px;
}


h3 {
	font-family: 'IM Fell English SC', serif;
	color: rgb(251,227,185);
}

p {
	font-family: 'IM Fell English SC', serif;
	color: rgb(251,227,185);
}



.gryf {
	color: rgb(133,25,16);
}

.huff {
	color: rgb(245,217,73);
}

.raven {
	color: rgb(111,135,208);
}

.slytherin {
	color: rgb(50,98,42);
}

#closeModal {
	align-self: center;;
	text-align: center;
	justify-content: left;
	width: 90px;
	height: 20px;
	opacity: 0.8;
	background-color: rgb(72, 0, 0);
	color: gold;
	font-family: 'IM Fell English SC', serif;
	font-size: 15px;
	border-radius: 8px;
	border: 1px solid gray;
}

body {
	background-color: black;
	align-items: center;
	align-self: center;
	justify-content: center;
}


.container {
	display: flex;
	align-self: center;
	align-items: center;
	flex-direction: column;
	/* background-color: blue; */
	background-color: black;
	align-items: center;
	justify-content: center;
	top: 15%;
	left: 15%;
}

.gameboard {
	display: flex;
	align-items:center;
	align-self: center;
	justify-content: center;
	background-image:url(https://cdn.pixabay.com/photo/2016/01/14/18/37/wood-1140564_960_720.jpg);
	width: 900px;
	height: 900px;
	border: 1px solid gray;
}

.column1 {
	display: flex;
	flex-direction: column;
	background-image:url(https://thumbs.dreamstime.com/t/old-dark-wood-texture-background-wooden-wall-41795950.jpg);
	align-items: center;
	align-self: center;
	width: 200px;
	height: 800px;
	bottom: 50%;
}

.column2 {
	display: flex;
	flex-direction: column;
	background-image:url(https://thumbs.dreamstime.com/t/old-dark-wood-texture-background-wooden-wall-41795950.jpg);
	align-items: center;
	align-self: center;
	width: 200px;
	height: 800px;
}

.column3 {
	display: flex;
	flex-direction: column;
	background-image:url(https://thumbs.dreamstime.com/t/old-dark-wood-texture-background-wooden-wall-41795950.jpg);
	align-items: center;
	align-self: center;
	width: 200px;
	height: 800px;
}

.column4 {
	display: flex;
	flex-direction: column;
	background-image:url(https://thumbs.dreamstime.com/t/old-dark-wood-texture-background-wooden-wall-41795950.jpg);
	align-items: center;
	align-self: center;
	width: 200px;
	height: 800px;
}

.column5 {
	display: flex;
	flex-direction: column;
	background-image:url(https://thumbs.dreamstime.com/t/old-dark-wood-texture-background-wooden-wall-41795950.jpg);
	align-items: center;
	align-self: center;
	width: 200px;
	height: 800px;
}

.column6 {
	display: flex;
	flex-direction: column;
	background-image:url(https://thumbs.dreamstime.com/t/old-dark-wood-texture-background-wooden-wall-41795950.jpg);
	align-items: center;
	align-self: center;
	width: 200px;
	height: 800px;
}

.column1button {
	height: 20px;
	width: 140px;
	flex-direction: row;
	margin: 0;
	padding: 0;
}

.column2button {
	height: 20px;
	width: 140px;
	flex-direction: row;
	margin: 0;
	padding: 0;
}

.column3button {
	height: 20px;
	width: 140px;
	flex-direction: row;
	margin: 0;
	padding: 0;
}

.column4button {
	height: 20px;
	width: 140px;
	flex-direction: row;
	margin: 0;
	padding: 0;
}

.column5button {
	height: 20px;
	width: 140px;
	flex-direction: row;
	margin: 0;
	padding: 0;
}

.column6button {
	height: 20px;
	width: 140px;
	flex-direction: row;
	margin: 0;
	padding: 0;
}

.circle {
	background-color: teal;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	align-self: center;
	display: fixed;
}

.square {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image:url(https://cdn.pixabay.com/photo/2016/01/14/18/37/wood-1140564_960_720.jpg);
	border: 1px solid grey;
	height: 200px;
	width: 150px;
}

.reset {
	background-color: rgb(72, 0, 0);
	color: gold;
	margin-left: 1350px;
	margin-top: -20px;
	font-family: 'IM Fell English SC', serif;
	font-size: 10px;
	border-radius: 5px;
}

footer {
	display: inline-block;
	height: 75px;
	border: 1px solid gray;
	background-image: url(http://img3.wikia.nocookie.net/__cb20140731114456/harrypotter/images/c/ca/Three_Broomsticks_Inn_Pottermore.png);
}

.deathlyhallows  {
	display: inline-block;
	height: 70px;
	width: 70px;
}

/* .threebroomsticks {
	display:block;
	width: 1000px;
	height: 500px;
} */
